:root {
  --first-color: #488cff;
  --second-color: #FFFFFF;
  --error: #ff0000;
  --primary-text: #000000;
  --base-spacing: 8px;
  --border-primary: solid #000000 6px;
  --primary: #d17455;
}

.fas {
  font-size: 48px;
}

.hero {
  background: url(https://picsum.photos/680/420);
  background-size: cover;
  height: 20vh;
  max-height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Moving icon to right side */
nav .fas {
  margin: var(--base-spacing);
  transform: translateX(calc(100vw - (var(--base-spacing) * 10)));
  position: absolute;
}

nav {
  min-height: 72px;
}

nav .is-hidden {
  height: 0;
  font-size: 0;
}

/* Extra
header,
section:nth-of-type(odd),
footer {
  background: var(--primary);
  color: var(--primary-text);
} */

nav {
  background-color: #c8ccc1;
  color: #178c7e;
  min-height: 72px;
}

h1 {
  background-color: #c8ccc1;
  color: #178c7e;
  /* text-align: center;  */
  font-family: "Montserrat", sans-serif;
  text-emphasis: bold;
  margin-top: 5px;
  align-self: center;
}

h2 {
  background-color: #178c7e;
  color: #c8ccc1;
  text-align: center;
}

.firstParagraph {
  background-color: var(#ffffff);
  color: #178c7e;
}

.secondParagraph {
  background-color: var(--second-color);
  color: var(--first-color);
}

.container {
  --first-color: #48ff32;
}

.thirdParagraph {
  background-color: var(--first-color);
  color: var(--second-color);
}

footer a {
  color: black;
  background: #c8ccc1;
}

footer {
  padding: calc(var(--base-spacing) * 2);
}

footer ul {
  display: flex;
  justify-content: space-between;
  background-color: #c8ccc1;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

/*Layout*/

header {
  display: flex;
  flex-direction: column;
  align-content: center;
}

figure,
h1 {
  margin: 0;
}

figure,
h2 {
  margin: 0;
}

img {
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 3px 10px 10px black;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

/* Remove underlines */
footer a,
nav a,
.hero a,
.read-more-btn {
  text-decoration: none;
}

section {
  padding: var(--base-spacing);
  display: flex;
  flex-direction: column;
}

/* Create clickable button */
.hero a {
  background-color: var(--second-color);
  padding: var(--base-spacing);
  border-radius: var(--base-spacing);
}

/* Hover for CTA button
.hero a:hover {
  background: var(--first-color);
} */

nav li {
  padding: var(--base-spacing) 0;
}

ul {
  padding: 0;
}

nav a:hover {
  background: var(--first-color);
}

section p {
  margin-bottom: auto;
}

.read-more-btn {
  background: gray;
  padding: var(--base-spacing);
  border-radius: var(--base-spacing);
  margin: var(--base-spacing) 0;
  display: inline-block;
  max-width: 120px;
  align-self: center;
}
.hero {
  height: 50vh;
}

.is-hidden--mobile {
  height: 0;
  font-size: 0;
}

/* Form */
form,
form div {
  display: flex;
  flex-direction: column;
}

form {
  padding: var(--base-spacing);
}

input,
textarea {
  border: solid thin pink;
  max-width: 80vw;
}

form div {
  margin: var(--base-spacing);
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  display: inline-block;
  min-height: calc(var(--base-spacing)) * 12;
  text-align: center;
  border-radius: var(--base-spacing);
  margin: var(--base-spacing);
  fill: grey;
}

/* Tablet */
@media screen and (min-width: 768px) {
  section {
    display: flex;
    flex-direction: column;
  }
  .read-more-btn {
    max-width: calc(var(--base-spacing)) * 15;
    text-align: center;
  }
  .is-hidden--tablet {
    height: 0;
    font-size: 0;
  }
}

/* Desktop */
@media screen and (min-width: 960px) {
  header {
    flex-direction: row;
    padding: calc(var(--base-spacing)) * 3;
  }
  header figure {
    margin-right: calc(var(--base-spacing)) * 3;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .is-hidden--desktop {
    height: 0;
    font-size: 0;
  }
  .is-shown--desktop {
    font-size: initial;
  }
  .flex-container--desktop {
    display: flex;
  }
  .flex-row--desktop {
    flex-direction: row;
  }
}
