:root {
  --first-color: #488cff;
  --second-color: #ffff8c;
}

#h1 {
  background-color: #C8CCC1;
  color: #178C7E;

}

#firstParagraph {
  background-color: var(#FFFFFF);
  color: var(#000000);
}

#secondParagraph {
  background-color: var(--second-color);
  color: var(--first-color);
}

#container {
  --first-color: #48ff32;
}

#thirdParagraph {
  background-color: var(--first-color);
  color: var(--second-color);
}